<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Slacker News</title>
    <link rel="shortcut icon" href="http://cdn.appappeal.com/pictures/13675/logo.png">
    <link rel="stylesheet" href="styles.css" type = "text/css">
  </head>

  <body>

      <div class="background_color">
        <div class = "header_container">

          <img src = "http://cdn.appappeal.com/pictures/13675/logo.png" id="logo">

          <h3 id = "title">Slacker News</h3>

          <ul class = "top_nav">
            <li> <a href="">new</a></li>
            <li> | </li>
            <li> <a href="">comments</a></li>
            <li> | </li>
            <li> <a href="">ask</a></li>
            <li> | </li>
            <li> <a href="">jobs</a></li>
            <li> | </li>
            <li> <a href="">submit</a></li>
          </ul>

        </div>

        <div class="articles_container">

          <ol class = "articles">
            <% @articles.each do |article| %>
            <li> &#x25B2; <a href="<%= article["url"] %>"><%= article["title"] %></a><br>
                          <span class="article_info"> <%= article["description"] %></span>
            <% end %>
            </li>
          </ol>

        </div>

        <hr class="line">

        <div class="footer_container">

          <ul class="footer_nav">
            <li> <a href="">Lists</a></li>
            <li> | </li>
            <li> <a href="">RSS</a></li>
            <li> | </li>
            <li> <a href="">Bookmarklet</a></li>
            <li> | </li>
            <li> <a href="">Guidelines</a></li>
            <li> | </li>
            <li> <a href="">FAQ</a></li>
            <li> | </li>
            <li> <a href="">DMCA</a></li>
            <li> | </li>
            <li> <a href="">News</a></li>
            <li> | </li>
            <li> <a href="">Feature Requests</a></li>
            <li> | </li>
            <li> <a href="">Bugs</a></li>
            <li> | </li>
            <li> <a href="">Y Combinator</a></li>
            <li> | </li>
            <li> <a href="">Apply</a></li>
            <li> | </li>
            <li> <a href="">Library</a></li>
          </ul>

          <form class="search">Search: <input type ="text" name = "search"></form>

        </div>
    </div>

  </body>
</html>


<!--
<li>Firebase Leaves Beta Today (firebase.com)
        https://www.firebase.com/blog/2013-08-15-fireba se-leaves-beta-today.html

        <ul>
        <li> 63 points by lyime 56 minutes ago | 17 comments </li>
        </ul>

        </li>

        <li>Destructuring Assignment in ECMAScript 6 (fitzgeraldnick.com)
        http://fitzgeraldnick.com/weblog/50/


        <ul>
        <li> 40 points by mnemonik 49 minutes ago | 5 comments</li>
        </ul>

        </li>

        <li> Introducing Stripe UK (stripe.com) https://stripe.com/blog/introducing-stripe-uk


        <ul>
        <li>230 points by woodrow 4 hours ago | 118 comments </li>
        </ul>

        </li>

         <li> Datomic in the browser (ragnard.github.io) http://ragnard.github.io/2013/08/12/datomic-in-the-browser.html

        <ul>
        <li>47 points by brucehauman 2 hours ago | 1 comment </li>
        </ul>

        </li>


        <li> Facebook App Outage Postmortem (facebook.com) https://developers.facebook.com/blog/post/2013/08/15/summary-of-the-august-13th-app-outage/


        <ul>
        <li> 15 points by lacker 32 minutes ago | 2 comments </li>
        </ul>

        </li>

        <li> Ink (YC S12) Releases New iOS Layer That Allows Apps to Interact, Share Data (techcrunch.com)
          http://techcrunch.com/2013/08/15/inks-new-mobile-framework-lets-ios-apps-talk-to-each-other-share-data-you-know-like-on-android/

        <ul>
        <li> 19 points by betojuareziii 1 hour ago | 13 comments </li>
        </ul>

        </li>

        <li>It's the real thing (lettersofnote.com)
http://www.lettersofnote.com/2013/07/its-real-thing.html?m=1

        <ul>
        <li>75 points by ezl 3 hours ago | 44 comments </li>
        </ul>

        </li>

        <li> The anatomy of the perfect technical interview from a former Amazon VP (firstround.com)
http://firstround.com/article/The-anatomy-of-the-perfect-technical-interview-from-a-former-Amazon-VP


        <ul>
        <li> 55 points by jnazario 3 hours ago | 26 comments
</li>
        </ul>

        </li>

        <li> The Washington Post Web site was hacked today (washingtonpost.com)
http://www.washingtonpost.com/blogs/ask-the-post/wp/2013/08/15/editors-note/

        <ul>
        <li> 34 points by selamattidur 2 hours ago | 26 comments
</li>
        </ul>

        </li>

        <li> Why does this Java program terminate despite appearing that it shouldn't? (stackoverflow.com)
http://stackoverflow.com/questions/16159203/why-does-this-java-program-terminate-despite-that-appears-that-it-shouldt-and

        <ul>
        <li> 88 points by patmcguire 3 hours ago | 83 comments</li>
        </ul>

        </li>

      </ol> -->



