<form action="/articles/new" method="post" class ="submission">

<label for ="title">title</label>
<input type="text" name="title"/>

<br>

<label for ="url">url</label>
<input type="text" name="url"/>

<br>

<label for="description" class="submission_label">description</label>
<textarea name="description"></textarea>

<br>

<button class="submission_btn">Submit</button>

</form>
